/* blog page styles */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post-card{
    border: 3px solid black;
    width: 100%;
    border-radius: 6px;
    padding: 3rem;

}

.post-header{
    border-bottom: 2px solid black;
}

.post-body{

}

.post-footer{
   
}

#post-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

footer{
    margin-top: 25px;
}